@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

body {
  background-image: url("/zappy.jpg");
  background-repeat: repeat;
  background-size: 300px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #ff78d2;
  display: flex;
  justify-content: center;
  height: 1000vh;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  font-family: Times New Roman;
}

html {
  cursor: url("/nat996.png") 30 30, pointer;
}

a {
  cursor: url("/nat996.png") 30 30, pointer;
  color: #ff78d2;
}

.container {
  border: 5px solid #fdb2ff;
  background-color: white;
  max-width: 1200px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: white;
  padding: 0;
  text-align: center;
}

nav a {
  color: #fdb2ff;
  padding: 0 15px;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.column {
  padding: 0px;
}

.center-column {
  background-color: #f0f0f0;
}

h3 {
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding-left: 15px;
}

ul li::before {
  content: "♡";
  margin-right: 5px;
}